
	<h1 style="text-align: center; margin-top: 20%; color: crimson;">
		We are being the OPPERTUNITY of a LIFETIME
	</h1>

	
	<div style="text-align: center; color: yellow; -webkit-text-stroke-width: 1px; background-color: darkblue;">
		{{ xmen }}
	</div>
	

